<div class="container-fluid">
	<div class="container">
		<div class="card text-left">
		  <div class="card-header bg-info text-white text-center">
		    <h4>Project Details</h4>
		  </div>
		  <div class="card-body">
		    <!-- <h5 class="card-title text-center">Special title treatment</h5> -->
		    <p class="card-text">
		    	<div class="row">
					<div class="col-sm-6">
						ERP Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b><%=@stockworkorder.erpno %></b>
					</div>
					<div class="col-sm-6">
						Project Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b><%=@stockworkorder.projectname %></b>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						project Value: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><%=@stockworkorder.projectvalue %></b>
					</div>
					<div class="col-sm-6">
						Branch:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b><%=@stockworkorder.branch %></b> 
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						Gm Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b><%=@stockworkorder.gmname %></b>
					</div>
					<div class="col-sm-6">
						Project Incharge:&nbsp;&nbsp; <b><%=@stockworkorder.projectincharge %></b>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						Billing Engineer: &nbsp;<b><%=@stockworkorder.billingeng %></b>
					</div>
					<div class="col-sm-6">
						Project Created: &nbsp;&nbsp;&nbsp;<b><%=@stockworkorder.created_at.strftime("#{@stockworkorder.created_at.strftime('%d').to_i.ordinalize}-%B-%Y") %></b>
					</div>
				</div>
		    </p>
		    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
		  </div>
		  <div class="card-footer text-muted text-center">
		  	:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b><%= Date.today.strftime("%B-%Y") %></b> Data Displaying
		    
		  </div>
		</div>
	</div>
	<br>
	<% if notice %>
		<div class="alert alert-success alert-dismissible" role="alert">
	  	 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <%= notice %>
	  </div>
	<% end %>
	<% if alert %>
	  <div class="alert alert-danger alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <%= alert %>
	  </div>
	<% end %>

	<table class="table table-bordered">
		<tr class="bg-info">
			<th width="9%">Date</th>
			<th>Dc number</th>
			<th>Cumulative Received Qty </th>
			<th>Received Qty</th>
			<th>Cumulative Consumption Qty</th>
			<th>Consumption Qty</th>
			<th>Balance at site</th>
			<th>remarks</th>			
			<% if current_user.has_role? :admin %>
				<th>Edited By</th>
			<% end %>
			<% if !current_user.has_role? :normaluser %>
				<th></th>
			<% end %>

		</tr>
		<tr class="bg-light">
			<td></td>
			<td></td>
			<td><% if @predata.blank? %>
					<%= @itemlist.cumrecqtystart %>
				<% else %>
					<%= @predata.cumrecqtytotal %>
				<% end %>
			</td>
			<td></td>
			<td><% if @predata.blank? %>
					<%= @itemlist.cumconqtystart %>
				<% else %>
					<%= @predata.cumconqtytotal %>
				<% end %>
			</td>
			<td></td>
			<td><% if @predata.blank? %>
					<%= @itemlist.balatsitestart %>
				<% else %>
					<%= @predata.balatsitetotal %>
				<% end %>
			</td>
			<td></td>
			<% if !current_user.has_role? :normaluser %>
				<td></td>
				<td></td>

			<% end %>
		</tr>
		<% @dcrs.each do |d| %>
			<% if Date.today.strftime("%m-%d-%Y").to_s == d.date %>
				<% color = "" %>
			<%else %>
				<% color = "#c8c8c8" %>
			<% end %>
			<tr style="background-color: <%= color %>">
				<td><%= d.date %></td>
				<td><%= d.dcnumber %></td>
				<td><%= d.cumrecqty %></td>
				<td><%= d.recqty %></td>
				<td><%= d.cumconqty %></td>
				<td><%= d.cons %></td>
				<td><%= d.balatsite %></td>
				<td><%= d.remarks %></td>
				<% if current_user.has_role? :admin %>
					<td>
						<% u = User.find_by_id(d.user_id) %>
						<%= u.fname unless u.blank?%>
					</td>
				<% end %>
				<% if !current_user.has_role? :normaluser %>
				<td>
					<% if current_user.has_role? :admin %>
						<a id="edit"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= d.id %>">Edit</button></a>
						<div class="modal fade" id="myModal<%= d.id %>">
						    <div class="modal-dialog">
						      <div class="modal-content">
						      
						        <!-- Modal Header -->
						        <div class="modal-header text-center">
						          <h4 class="modal-title">
						          	<% @d = Dcr.find_by_id(d.id) %>
						          	<%=@d.date %>	
						          	</h4>
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						        </div>
						        
						        <!-- Modal body -->
						        <div class="modal-body">
							        <%= simple_form_for @d, :url =>{:action => 'dcrupdate', :method =>'patch'} do |f|%>
							        	<%= f.hidden_field :itemlist_id, :value => params[:id] %>
							        	<%= f.hidden_field :id, :value => d.id%>
							        	<%= f.input :dcnumber, :label => "DC Number" %>
										<%= f.input :recqty, :label => "Received qty"%>
										<%= f.input :cons, :label => "Consumption qty"%>
										<%= f.input :remarks, :label => "Remarks"%>
										<div class="form-row text-center">
							    			<div class="col-12">
							        			<%= f.submit "Update", :class => "btn btn-primary" %>
							    			</div>
							 			</div>
									<% end %>
						        </div>
						        
						        <!-- Modal footer -->
						        <!-- <div class="modal-footer">
						          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						        </div> -->
						      </div>
						    </div>
						</div>
					<% else %>
						<% if Date.today.strftime("%m-%d-%Y").to_s == d.date %>
							<a id="edit"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal<%= d.id %>">Edit</button></a>
							<div class="modal fade" id="myModal<%= d.id %>">
							    <div class="modal-dialog">
							      <div class="modal-content">
							      
							        <!-- Modal Header -->
							        <div class="modal-header text-center">
							          <h4 class="modal-title">
							          	<% @d = Dcr.find_by_id(d.id) %>
							          	<%=@d.date %>	
							          	</h4>
							          <button type="button" class="close" data-dismiss="modal">&times;</button>
							        </div>
							        
							        <!-- Modal body -->
							        <div class="modal-body">
								        <%= simple_form_for @d, :url =>{:action => 'dcrupdate', :method =>'patch'} do |f|%>
								        	<%= f.hidden_field :itemlist_id, :value => params[:id] %>
								        	<%= f.hidden_field :id, :value => d.id%>
								        	<%= f.input :dcnumber, :label => "DC Number" %>
											<%= f.input :recqty, :label => "Received qty"%>
											<%= f.input :cons, :label => "Consumption qty"%>
											<%= f.input :remarks, :label => "Remarks"%>
											<div class="form-row text-center">
								    			<div class="col-12">
								        			<%= f.submit "Update", :class => "btn btn-primary" %>
								    			</div>
								 			</div>
										<% end %>
							        </div>
							        
							        <!-- Modal footer -->
							        <!-- <div class="modal-footer">
							          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
							        </div> -->
							      </div>
							    </div>
							</div>
						<% end %>
					<% end %>
				</td>
				<% end %>
			</tr>
			
		<% end %>
	</table>
</div>