<div class="container-fluid fluide-margin">
	<a href="/workorders?erpno=<%= @workorder.erpno %>"><button class="btn btn-primary">Back</button></a><br/><br/>
	<% if notice %>
		<div class="alert alert-success alert-dismissible" role="alert">
	  	 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <%= notice %>
	  </div>
	<% end %>
	<% if alert %>
	  <div class="alert alert-danger alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    <% alert.each do |e,v| %>
	    	<% if e == "erpno" %>
	    		<%= v[0] %><br>
	    	<% else %>
	    		<%=  "#{e} #{v}" %><br>
	    	<% end %>
	    <% end %>
	  </div>
	<% end %>

	<%= simple_form_for @workorder, url: {:action => "update", :method => "patcu"}, :html => {:class => "form-horizontal"} do |f| %>
		<div class="row">
			<div class="col-sm-4">
				<%=f.input :erpno, :label => "ERP NO",required: true, :placeholder => "ERP NO" %>
			</div>
			<div class="col-sm-4">
				<%=f.input :clientname, :label => "Client Name", :placeholder => "Client Name" %>
			</div>
			<div class="col-sm-4">
				<%=f.input :sitename, :label => "Site Name", :placeholder => "Site Name" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%=f.input :workorderno, :label => "WorkOrder Number", :placeholder => "WorkOrder Number" %>
			</div>
			<div class="col-sm-4">
				<%=f.input :workorderdate, :label => "WorkOrder Date", :placeholder => "WorkOrder Date", :input_html => {:id => "datepicker"} %>
			</div>
			<div class="col-sm-4">
				<%=f.input :workorder_type, as: :select, required: true, collection: ["New", "Ammendment"], :label => "Workorder Type",:prompt => "Select Work order type", input_html: { class: 'dropdown-size' } %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%=f.input :workorder_value, :label => "Workorder Value", :placeholder => "Workorder Value" %>
			</div>
			<div class="col-sm-4">
				<%=f.input :mobbg_no, :label => "Mobilisation Bank Gaurantee", :placeholder => "Mobilisation Bank Gaurantee" %>
			</div>
			<div class="col-sm-4">
				<%=f.input :mobadv, :label => "Mobilisation Advance Amount Received", :placeholder => "Mobilisation Advance Amount Received" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%=f.input :matadv, :label => "Material Advance Amount Received	" , :placeholder => "Material Advance Amount Received" %>
			</div>
			<div class="col-sm-4">
				<%=f.input :retbg, :label => "Retention Bank Gaurantee", :placeholder => "Retention Bank Gaurantee" %>
			</div>
			<div class="col-sm-4">
				<%=f.input :perbg, :label => "Performance Bank Gaurantee", :placeholder => "Performance Bank Gaurantee" %>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<%=f.input :pwarrenty, :label => "Performance Warranty", :placeholder => "Performance Warranty" %>
			</div>
			<div class="col-sm-6">
				<%=f.input :workcompdate, :label => "WorkOrder Completion Date", :placeholder => "WorkOrder Completion Date", :input_html => {:id => "datepicker2"} %>
			</div>
		</div>

			<div>
				<%=f.input :remarks, :label => "Remarks", :placeholder => "Remarks" %>
			</div>

			<%= f.submit "Submit", :class => "btn btn-primary" %>

	<% end %>
</div>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
    	changeMonth: true,
      	changeYear: true,
    });
    $( "#datepicker2" ).datepicker({
    	changeMonth: true,
      	changeYear: true
    });
  } );
 </script>