<a href="/workorders?erpno=<%= @workorder.erpno %>"><button class="btn btn-primary">Back</button></a><br/><br/>
<% if notice %>
	<div class="alert alert-success alert-dismissible" role="alert">
  	 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% alert.each do |e,v| %>
    	<% if e == "erpno" %>
    		<%= v[0] %><br>
    	<% else %>
    		<%=  "#{e} #{v}" %><br>
    	<% end %>
    <% end %>
  </div>
<% end %>

<%= simple_form_for @workorder, url: {:action => "update", :method => "patcu"}, :html => {:class => "form-horizontal"} do |f| %>
	<div class="row">
		<div class="col-sm-4">
			<%=f.input :erpno, :label => false,required: true, :placeholder => "ERP NO" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :clientname, :label => false, :placeholder => "Client Name" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :sitename, :label => false, :placeholder => "Site Name" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<%=f.input :workorderno, :label => false, :placeholder => "WorkOrder Number" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :workorderdate, :label => false, :placeholder => "WorkOrder Date", :input_html => {:id => "datepicker"} %>
		</div>
		<div class="col-sm-4">
			<%=f.input :workorder_type, as: :select, required: true, collection: ["New", "Ammendment"], :label => false,  	 :prompt => "Select Work order type" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<%=f.input :workorder_value, :label => false, :placeholder => "Work Order Value" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :mobbg_no, :label => false, :placeholder => "Mobilisation Bank Gaurantee" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :mobadv, :label => false, :placeholder => "Mobilisation Advance Amount Received" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<%=f.input :matadv, :label => false, :placeholder => "Material Advance Amount Received" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :retbg, :label => false, :placeholder => "Retention Bank Gaurantee" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :perbg, :label => false, :placeholder => "Performance Bank Gaurantee" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<%=f.input :pwarrenty, :label => false, :placeholder => "Performance Warranty" %>
		</div>
		<div class="col-sm-6">
			<%=f.input :workcompdate, :label => false, :placeholder => "WorkOrder Completion Date", :input_html => {:id => "datepicker2"} %>
		</div>
	</div>

		<div>
			<%=f.input :remarks, :label => false, :placeholder => "Remarks" %>
		</div>

		<%= f.submit "Submit", :class => "btn btn-primary" %>

<% end %>
<script>
  $( function() {
    $( "#datepicker" ).datepicker({
    	changeMonth: true,
      	changeYear: true,
    });
    $( "#datepicker2" ).datepicker({
    	changeMonth: true,
      	changeYear: true
    });
  } );
 </script>