<% if notice %>
	<div class="alert alert-success alert-dismissible" role="alert">
  	 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
<div class="row">
	<div class="col-sm-4">
		<% if current_user.has_role? :admin %>
			<a href="/addworkorder"><button class="btn btn-primary">Add WorkOrder</button></a>
		<% end %>
	</div>
	<div class="col-sm-8">
		<form class="form-inline" action="/workorders">
    		<input class="form-control" name="erpno" type="text" placeholder="Search">
    		<button class="btn btn-success" type="submit">Search</button>
  		</form>
  	</div>
</div>
<% if @workorder %>
<br>
<table class="table table-bordered" width="100%">
	<tr>
		<td><h4 class="text-primary text-center">Showing Results: <span class="text-danger"><%= @workorder.erpno %></span></h4></td>
		<td>
			<% if current_user.has_role? :admin %>
				<a href="/workorder/<%=@workorder.id %>/change"><button class="btn btn-primary">Edit</button>
			<% end %>
		</td>
	</tr>
	<tr>
		<td>ERP NUMBER</td>
		<td><%=@workorder.erpno %></td>
	</tr>
	<tr>
		<td>Client name</td>
		<td><%=@workorder.clientname %></td>
	</tr>
	<tr>
		<td>Site Name</td>
		<td><%=@workorder.sitename %></td>
	</tr>
    <tr>
		<td>Workorder number</td>		
		<td><%=@workorder.workorderno %></td>
	</tr>
	<tr>
		<td>Workorder date</td>
		<td><%=@workorder.workorderdate %></td>
	</tr>
	<tr>
		<td> Workorder type</td>
		<td><%=@workorder.workorder_type %></td>
	</tr>
	<tr>
		<td>Workorder value</td>
		<td><%=@workorder.workorder_value %></td>
	</tr>
	<tr>
		<td>Mobilisation Bank Gaurantee</td>
		<td><%=@workorder.mobbg_no %></td>
	</tr>
	<tr>
		<td>Mobilisation Advance Amount Received</td>
		<td><%=@workorder.mobadv %></td>
	</tr>
	<tr>
		<td>Material Advance Amount Received</td>
		<td><%=@workorder.matadv %></td>
	</tr>
	<tr>
		<td>Retention Bank Gaurantee</td>
		<td><%=@workorder.retbg %></td>
	</tr>
	<tr>
		<td>Performance Bank Gaurantee</td>
		<td><%=@workorder.perbg %></td>
	</tr>
	<tr>
		<td>Performance Warranty</td>
		<td><%=@workorder.pwarrenty %></td>
	</tr>
	<tr>
		<td>WorkOrder Completion Date</td>
		<td><%=@workorder.workcompdate %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.remarks %></td>		
	</tr>
</table>
<% else %>
<div class="text-center"><br><br><br>
	<h3>No matches found</h3>
</div>
<% end %>
