<% if notice %>
	<div class="alert alert-success alert-dismissible" role="alert">
  	 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
<div class="row">
	<div class="col-sm-4">
		<% if current_user.has_role? :admin %>
			<a href="/addworkorder"><button class="btn btn-primary">Add WorkOrder</button></a>
		<% end %>
	</div>
	<div class="col-sm-8">
		<form class="form-inline" action="/workorders">
    		<input class="form-control" name="erpno" type="text" placeholder="Search">
    		<button class="btn btn-success" type="submit">Search</button>
  		</form>
  	</div>
</div>
<% if @workorder %>
<table class="table table-bordered" width="100%">
	<tr>
		<td class="30%">ERP NUMBER</td>
		<td><%=@workorder.erpno %></td>
	</tr>
	<tr>
		<td>Client name</td>
		<td><%=@workorder.clientname %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.sitename %></td>
	</tr>
    <tr>
		<td></td>		
		<td><%=@workorder.workorderno %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.workorderdate %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.workorder_type %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.workorder_value %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.mobbg_no %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.mobadv %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.matadv %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.retbg %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.perbg %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.pwarrenty %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.workcompdate %></td>
	</tr>
	<tr>
		<td></td>
		<td><%=@workorder.remarks %></td>		
	</tr>
</table>
<% else %>
<div class="text-center"><br><br><br>
	<h3>No matches found</h3>
</div>
<% end %>