<a href="/stockworkorders"><button class="btn btn-primary">Back</button></a><br/><br/>
<% if notice %>
	<div class="alert alert-success alert-dismissible" role="alert">
  	 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <% alert.each do |e,v| %>
    	<% if e == "locno" %>
    		<%= v[0] %><br>
    	<% else %>
    		<%=  "#{e} #{v}" %><br>
    	<% end %>
    <% end %>
  </div>
<% end %>

<%= simple_nested_form_for @stockworkorder, url: {:action => "create", :method => "post"}, :html => {:class => "form-horizontal" } do |f| %>
	<div class="row">
		<div class="col-sm-4">
			<%=f.input :locno, :label => false,required: true, :placeholder => "LOC Number" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :erpno, :label => false, :placeholder => "ERP Numner" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :projectname, :label => false, :placeholder => "Project Name" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<%=f.input :projectvalue, :label => false, :placeholder => "Project Value" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :branch, :label => false, :placeholder => "Branch" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :gmname, :label => false, :placeholder => "GM Name" %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<%=f.input :projectincharge, :label => false, :placeholder => "Project Incharge" %>
		</div>
		<div class="col-sm-4">
			<%=f.input :billingeng, :label => false, :placeholder => "Billing Engineer" %>
		</div>
	</div>
	<%= f.fields_for :itemlists do |t| %><br>
		<div style="margin:0% 3% 0% 3%">
			<div class="card card-block">
				<div class="row" style="margin-left:2%">
					<div class="3">
				  		<%= t.input :itemno, :label =>false, :placeholder => "Item Number" %>
				  	</div>
				  	<div class="3">
				  		<%= t.input :itemname, :label =>false, :placeholder => "Item Name" %>
				  	</div>
				  	<div class="3">
				  		<%= t.input :units, :label =>false, collection: [ "Sqm", "Rmt", "Kgs","Nos","Grams","Lts","Packs","Cum","Brass"], :prompt => "Select type" %>
				  	</div>
				  	<div class="3">
				  		<%= t.input :matqty, :label =>false, :placeholder => "Matrial Quantity" %>
				  	</div>
				</div>
				<div class="row" style="margin-left:2%">
					<div class="3">
				  		<%= t.input :cumrecqtystart, :label =>false, :placeholder => "Cumulative received qty start total" %>
				  	</div>
				  	<div class="3">
				  		<%= t.input :cumconqtystart, :label =>false, :placeholder => "Cumulative consumption qty start total" %>
				  	</div>
				  	<div class="3">
				  		<%= t.input :balatsitestart, :label =>false, :placeholder => "Balance at site start total" %>
				  	</div>
				  	<div class="col-sm-3">
				  		<%= t.link_to_remove "Remove Item", :type => "button", :class => "btn btn-dark" %>
				  	</div>
				</div>
		</div>
		</div>
			<br><% end %>
		<p><%= f.link_to_add "Add Itemlist", :itemlists, :type => "button", :class => "btn btn-success"  %></p><br>
		<div class="form-row text-center">
    		<div class="col-12">
        		<%= f.submit "Submit", :class => "btn btn-primary" %>
    		</div>
 		</div>
		
<% end %>